.searchForm{
    width:60%;
    margin:0px auto;

}

@media(max-width:650px){
    .searchForm{
        width:90%;
        margin:0px auto;
        display: block!important;
    
    }
    .searchForm input{
        margin-bottom: 20px;
    }
}